@media print {
    body * {
      visibility: hidden;
    }
  
    #cvPreview, #cvPreview * {
      visibility: visible;
    }
  
    #cvPreview {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      padding: 20px;
    }
  }
  